.post-sidecar-container {
  position: relative;

  .control {
    padding: 0.8em 0.4em;
    position: absolute;
    top: 50%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;

    transform: translateY(-50%);

    &:first-of-type {
      left: -5px;
    }
    &:last-of-type {
      right: -5px;
    }
  }

  .post-sidecar {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
  }

  .post-sidecar__slide {
    flex: 0 0 100%;
    display: flex;
    justify-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
