:root {
  --border: #dadce8;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h3 {
  margin: 48px;
  text-align: center;
}

button {
  padding: 0.5em 1em;
  border: 1px solid;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
}

.separator {
  margin-bottom: -4px;
  display: inline-block;
  height: calc(1ch + 1rem);
  color: #dadce8;
  background-color: currentColor;
  border: 1px solid currentColor;
}
