nav{
  backdrop-filter: blur(4px);
}
nav ul {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  list-style: none;
}


nav ul li a{
  margin: 0 12px;
  padding: 6px;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, .12);
}


nav ul li:last-child {
  margin-right: auto;
}

nav img {
  margin: 0 48px 0 32px;
  max-width: 32px;
  box-shadow: 0 0 1px 3px #000000;
  border-radius: 50%;
}
