.container-post {
  margin: 0 auto;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 32px;

  border: 1px solid;
}

div.post {
  margin-bottom: 8px;

  border: 1px solid var(--border);
  border-radius: 4px;
  overflow: hidden;
  background-color: #fefefe;
  position: relative;

  img,
  video {
    margin: 0 auto;
    display: block;
    height: 70vh;
    object-fit: contain;
  }
}

.post-content {
  background-color: #eeeeee;
}

.post-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 12px 8px 16px;
  border-bottom: 1px solid var(--border);
  color: var(--dim-text);
}

.post-rating span > * + * {
  margin-left: 0.25rem;
}

.post-caption {
  padding: 8px;
  color: var(--pri-text);
  background-color: #fff;
}

.post-caption-open {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));

  .post-caption__text {
    padding: 8px;
    max-height: 50%;
    background-color: #fff;
    overflow-y: auto;
    --track: #ccc;
    --thumb: #999;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--track);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--thumb);
      border: 2px solid var(--track);
      border-radius: 10px;
    }
  }
}

button.show-more {
  padding: 4px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  background: none;
  text-decoration-line: underline;
  outline: none;
  cursor: pointer;
}

button.show-more:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

button.load-more {
  margin: 24px auto;
  display: block;
}

@media only screen and (min-width: 768px) {
  div.container-post {
    grid-template-columns: 60vw;
  }

  div.post img,
  div.post video {
    max-width: 100%;
    max-height: 100%;
  }
}
